/*@import url('node_modules/reset-css/reset.css');*/
/*#444*/
html, body {
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-weight: 300;
	background: #fdfdfd;
}
body {
}

/*h1,h3 {
	text-align: center;
}*/
@media (min-width: 400px) {
	.word-break {
		display: none;
	}
}
dl {
	position: relative;
	max-width: 700px;
	margin: auto;
}
dl:after {
	content: '';
	height: calc(100% + 3em);
	width: 1px;
	background: #333;
	position: absolute;
	left: 20%;
	top: -1.5em;
}
@media screen {
	dl:after {
		background: #4286f4;
	}
}
dt {
	text-transform: uppercase;
	font-size: .8em;
	/* font-weight: 300 !important; */
	text-align: right;
	width: 17%;
	width: calc(20% - 20px);
	font-weight: bold;
	float: left;
}

/* @media screen { */
/* 	dt { */
/* 		color: white; */
/* 		background: #4286f4; */
/* 		color: #4286f4; */
/* 		line-height: 2em; */
/* 		position: relative; */
/* 		display: inline-block; */
/* 	} */
/* 	dt:before, dt:after { */
/* 		content: ''; */
/* 		display: block; */
/* 		position: absolute; */
/* 		z-index:-1; */
/* 		background: #4286f4; */
/* 		top: 0; */
/* 		height: 100%; */
/* 	} */
/* 	dt::before { */
/* 		width: 40vw; */
/* 		right: 100%; */
/* 	} */
/* 	dt::after { */
/* 		left: 100%; */
/* 		width: 20px; */
/* 	} */
/* } */

dd {
	margin-left: 22%;
	margin-left: calc(20% + 20px);
	margin-bottom: 2em;
	max-width: 600px;
}
dd:after {
	content: '';
	display: block;
	clear: left;
}
h1,h2,h3,h4,h5,h6 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	font-weight: 500;
}
h4 {
	font-size: .8em;
	text-transform: uppercase;
}
strong {
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
	color: grey;
}
h6 {
	font-family: sans-serif;
	font-weight: normal;
}
dl>h4,dl>h6 {
	display: inline;
	margin: 0;
	padding: 0;
}

.work-history-headline h4, .work-history-headline h6 {
	display: inline-block;
}
.work-history-headline h6 {
	color: grey;
	margin-top: 0;
}

.work-history-headline h6:before {
	content: 'from '
}

p {
	/* font-family: sans-serif; */
	margin-top: 10px;
	line-height: 1.4em;
	font-size: 14px;
}
.top {
	max-width: 700px;
	margin: auto;
	height: 100px;
	padding-top: 40px;
}
.contact {
	padding-top: 10px;
	/* font-family: sans-serif; */
	text-align: right;
	float: right;
}
.name {
	float: left;
	text-align: right;
}
.name h1, .name h3 {
	font-weight: normal;
}

a {
	color: #4286f4;
}

.references {
	/* position: ; */
	/* bottom: 20px; */
	/* right: 20px; */
	text-align: center;
	font-size: .8em;
}
.foot-top, .foot-bottom {
	width: 100%;
}
.foot-top {
	height: 10px;
}
.foot-bottom {
	height: 60px;
}
@media print {
	dd {
		margin-bottom: 1em;
	}
	.top {
		height: 80px;
	}
	dt {
		font-size: 1em;
	}
	h4, strong {
		font-size: .8em;
	}
	a {
		text-decoration: none;
	}
	h5 {
		font-weight: normal;
	}
	.contact>h5:before {
		content: attr(data-kind);
		display: inline-block;
	}
	.foot-bottom {
		display: none;
	}
}
