.menu-container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	/* background: white; */
	z-index: 1000;
	overflow: hidden;
	right: 0;
	transition: all .2s;
	text-align: center;
}

.menu-circle {
	position: fixed;
	border-radius: 50%;
	width: 1px;
	height: 1px;
	background: white;
	top: 30px;
	right: 35px;
	overflow: hidden;
	transform: translate3d(50%, -50%, 0);
	transition: width .4s, height .4s; transform: .4s;
	transition-timing-function: ease-out;
}
@media screen and (max-width: 740px) {
	.menu-circle{
		top: 50px;
		right: 43px;
	}
}
.menu-options {
	position: absolute;
	top: 35px;
	right: -43px;
	width: 120vmax;
	max-height: 80vh;
	max-height: calc(100vh - 80px);
	overflow-y: scroll;
	text-align: right;
}
.menu-anchor {
	position: fixed;
	top: 50%;
	right: 50%;
	right: calc(50% - 16px);
	width: 10px;
	height: 80%;
	background: transparent;
	overflow: visible;
	transition: all 10s;
}

/* @media screen and (max-width: 740px) { */
/* 	.menu-options { */
/* 		top: 40px; */
/* 	} */
/* } */
.menu-options div {
	white-space: nowrap;
	font-size: 30px;
	line-height: 50px;
	padding-left: .2px;
	position: relative;
	padding-left: 43px;
	padding-right: 43px;
	transition: background .1s, color .1s;
	transition-timing-function: ease-out;
}
.menu-options div:hover {
	color: white;
	background: black;
	transition: background 0s, color 0s;
	cursor: pointer;
}
.menu-options>div.spacer {
	height: 30px;
}
.menu-options>div.spacer:hover {
	background: initial;
	color: red;
	cursor: auto;
}
.menu-options>a {
	color: black;
	text-decoration: none;
}
.menu-options>a:hover {
	color: white;
}
@media screen and (max-height: 500px) {
	.menu-options div {
		font-size: 20px;
		line-height: 30px;
	}
	.menu-options div.spacer {
		height: 10px;
	}
}
@media screen and (max-height: 360px) {
	.menu-options div {
		font-size: 16px;
		line-height: 25px;
	}
	.menu-options div.spacer {
		height: 16px;
	}
}


.menu-circle.big {
	width: 260vmax;
	height: 260vmax;
	transition-timing-function: ease-in;
}

.visible {
	opacity: 1;
}
.invisible {
	opacity: 0;
	pointer-events: none; 
}

.menu-container.invisible {
	transition-delay: .2s;
}
